
.hex-container-alone{
  --l-alone: calc((var(--hex-dim-alone)/2));
  --ri-alone: calc(1.7320508075688772935274463415059*var(--l-alone));
  display: grid;
  place-content: center;
  grid-template-rows: repeat(1, var(--ri-alone));
  grid-template-columns: repeat(2, var(--l-alone));
  margin-bottom: 3rem;
}

.hex-cell-alone {
  overflow: hidden;
  grid-column-end: span 2;
  transform: scale(110%) rotate(90deg);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hex-cell-alone img {
  height: var(--hex-dim-alone);
  width: var(--hex-dim-alone);
  margin: calc(-1*var(--hex-dim-alone) / 16) 0 0 0;
  object-fit: cover;
  transform: rotate(-90deg);
}
