
.hex-container{
  padding-top: 3rem;
  display: grid;
  place-content: center;
  margin: 0;
  filter: drop-shadow(2px 2px 20px var(--color-turquoise));
}

.hex-cell {
  overflow: hidden;
  grid-column-end: span 2;
  transform: scale(110%) rotate(90deg);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
}

.hex-cell .backgroundimg {
  --zoom: 0;
  --hl: 1;
  object-fit: cover;
  transition: .7s;
  transform: scale(calc(1 + .2*var(--zoom))) rotate(-90deg);
  filter: brightness(calc(.6*(1 + var(--hl))));
}

.hex-cell:hover .backgroundimg{
  --zoom: 1;
  --hl: 0;
}
  
.hex-cell h1,
.hex-cell p {
  padding-top: 1;
  box-sizing:border-box;
  font-weight: 300;
  opacity: 0;
}

.noimg{
  opacity: 1 !important;
}

.hex-title {
  text-align: center;
  color: #F5CE95;
  font-weight: 700;
  text-transform: capitalize;
  z-index: 1;
}

.hex-text {
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex-award img{
  width: 100%;
  opacity: 0;
}

.hex-award p{
  font-size: 0.9rem;
}
.hex-award-img{
  width: 40%;
}
.hex-award {
  padding-left: 1rem;
  display: flex;
  align-items: center;

}

.hoverdiv {
  position: relative;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.hex-title:hover,
.hex-text:hover,
.hex-cell:hover h1, .hex-cell:focus h1,
.hex-cell:hover p, .hex-cell:focus p,
.hex-cell:hover .hex-award img {
opacity:1;
transition: 0.8s;
}
