.stack-technique .section-title::before {
  width: 10rem;
}

.stack-icon{
  width: 6rem;
  font-size: 6rem;
}

.stack-technique p{
  width: calc(100% - 8rem);
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  text-align: center;
}

.stack-technique p:nth-child(2n+1){
  margin-left: 8rem;
}